<body>

<title>Torie Clark</title>
<header class="site-sidebar">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
         <nav class="site-nav">

    <a class="title" href="/">archive indianism</a></nav>
    {% if page_paths %}
<nav class="site-nav2">
            <a class="nav-link" href="/about">About</a>
           <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/">Projects</a>
    {% endif %}</nav>
</header>
</body>